---
---
@import "bootstrap";
@font-face
{
font-family: Code;
src: url('{{ site.baseurl }}/assets/fonts/CODE_Bold.woff');
}

@font-face
{
font-family: Generica;
src: url('{{ site.baseurl }}/assets/fonts/Generica.otf');
}

@font-face
{
font-family: The Braggest;
src: url('{{ site.baseurl }}/assets/fonts/The Braggest_Demo.otf');
}

//$color-background: #f2f2f2;
// $color-dark-gray: #a8a8a8;
// $color-3
// $color-4
// $color-5
// $color-6

// $font-1
// $font-2
// $font-3
body {
	background-color: #f2f2f2 !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
