---
---

@import "bootstrap";

.container-fluid {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	background-color: #f2f2f2;
}

.title {
	h1 {
		font-family: "The Braggest", sans-serif;
		font-size: 70pt;
		text-align: center;
		letter-spacing: -2px;
	}
	margin-top: 80px;
	margin-bottom: 30px;
}

.content {
	background-color:white;
	width: 90%;
	height: 2000px;
	margin: 0 auto;
	margin-bottom: 50px;
	p {
		margin: 0 auto;
		font-size: 14pt;
		width: 70%;
		padding-top: 20px;	}
}