<!-- <div class="container-fluid">
 -->  <!-- Second navbar for categories -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
     <!--    <a class="navbar-brand navbar-right" href="#">Brand</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="{{ site.baseurl }}/travel/">Travel</a></li>
          <li><a href="{{ site.baseurl }}/blog/">Lifestyle Design</a></li>
          <li><a href="{{ site.baseurl }}/about/">About</a></li>
          <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
          <li><a href="{{ site.baseurl }}/start/">Start Here</a></li>
        </ul>
        <a class="navbar-brand navbar-right" href="{{ site.baseurl }}/">NV</a>

        <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse1">
          <li><a href="#">Web design</a></li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Graphic design</a></li>
          <li><a href="#">Print</a></li>
          <li><a href="#">Motion</a></li>
          <li><a href="#">Mobile apps</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
<!-- </div> -->
