<link rel="stylesheet" href="{{ site.baseurl }}/sass/sidebar.css">
<div class="sidebar">
  
<h1> About Me </h1>
<img src= "{{ site.baseurl }}/assets/images/pic-1.jpg">
<p> In this area, I'll introduce a short description about myself. Try not to be weird about it. Anyway, this will be a little bit about me. And how it connects to the blog and stuffs.
</p>


<hr>


<h1> Lets Connect </h1>
<p> button button button button </p>


<hr>

<h1> Insta Feed </h1>
<p> insta insta </p>
<p> insta insta </p>


<hr>


<h1> subscribe </h1>
<p> Want more? Enter your email for updates on the lastest articles and stuff!
</p>
<p> sub bar here </p>
<p> sub button here </p>


</div>
