

<h1> Catagories </h1>
<h2> Travel </h2>
<h2> Life </h2>
<h2> Career </h2>
<h2> Minimalism </h2>

<br>
<h5> cool thingy </h5>
<br>

<h3> About Me </h3>
<img src= "{{ site.baseurl }}/assets/images/pic-1.jpg">
<p> In this area, I'll introduce a short description about myself. Try not to be weird about it. Anyway, this will be a little bit about me. And how it connects to the blog and stuffs. 
</p>

<br>
<h5> cool thingy </h5>
<br>

<h4> Lets Connect </h4>
<p> button button button button </p>

<br>
<h5> cool thingy </h5>

<br>
<h4> Insta Feed </h4>
<p> insta insta </p>
<p> insta insta </p>

<br>
<h5> cool thingy </h5>
<br>

<h4> subscribe </h4>
<p> Want more? Enter your email for updates on the lastest articles and stuff!
</p>
<p> sub bar here </p>
<p> sub button here </p>

<br>

<br>

<br>

<br>

