
// Website defaults




$caption: 'Code', sans-serif;
$title: 'Generica', sans-serif;
$name: 'The Braggest', cursive;


body {
	background-color: #f2f2f2 !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
